body {
    height: auto;
}
a {
    color: #fff;
}
a:hover {
    color: #c0c0c0;
}
.content {
    display: flex;
    width: 800px;
}
.header {
    background: #343a40;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.header-right {
    float: right;
    list-style: none;
    text-align: center;
}
.buttom-bule {
    background: #4169e1;
    display: block;
    width: 150px;
    margin: 50px 0;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.content-right,
.content-left {
    width: 50%;
}

tr {
    border: 1px solid;
    
}
th,td {
    text-align: center;
    padding: 20px;
}