body {
    height: auto;
}
table {
    width: 100%;
}
table th {
    background: #00bfff;
}
table td {
    background: #90ee90;
}
table th,
table td {
    border: 1px solid #CCCCCC;
    text-align: center;
    padding: 5px;
}
a {
    color: #fff;
}
a:hover {
    color: #fff;
}
.header {
    background: #343a40;
    padding-bottom: 50px;
    margin-bottom: 100px;
}
.black {
    width: auto;
    margin: auto;
    padding: 10px;
}

.black:hover {
    background: #6c757d;
    
}
.header-left {
    float: left;
    display: flex;
}
.header-right {
    float: right;
    list-style: none;
    
}
.black, 
.header-right {
    text-align: center;
}
.next {
    background: black;
    padding: auto;
    margin: auto;
}

.head,
.contents,
.plan {
    display: flex;
}
.date {
    margin-left: 20px;
}
.text {
    width: 300px;
    height: 100px;
}
.plan-contents {
    padding: 20px;
    
}
.plan-date {
    margin-left: 200px;
}
.buttom {
    width: 100px;
    height: 30px;
}
.title {
    margin: 50px;
}
.red {
    background: #ff6347;
}
.green {
    background: #98fb98;
}
.blue {
    background: #1e90ff;
}
.width {
    width: 70%;
    margin: 0 auto;
}
.day {
    background: #a9a9a9;
    height: 50px;
}
.month {
    color: #0000cd;
}
.block {
    display: block;
}
.tr {
    border: 1px solid;
    
}
th,td {
    text-align: center;
    padding: 20px;
}