body {
  height: auto;
  margin-bottom: 100px;
}

.width {
  width: 70%;
  margin: 0 auto;
}

table {
  width: 100%;
}

table th {
  background: #00bfff;
}

table td {
  background: #90ee90;
  word-break: break-all;
}

table th,
table td {
  border: 1px solid #CCCCCC;
  text-align: center;
  padding: 5px;
}

.table {
  width: 100%;
}

.table th {
  background: #fff;
}

.table td {
  background: #fff;
}

.table th,
.table td {
  border: none;
  text-align: center;
  margin: 20px 0;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.header {
  background: #343a40;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.block:hover {
  background: #6c757d;
}

.header-left {
  float: left;
  display: flex;
}

.header-right {
  float: right;
  list-style: none;
}

.black,
.header-right {
  text-align: center;
}

.next {
  background: black;
  padding: auto;
  margin: auto;
}

.next:hover {
  color: black;
}

.head,
.contents {
  display: flex;
}

.date {
  margin-left: 20px;
}

.text {
  width: 300px;
  height: 100px;
}

.plan-contents {
  padding: 20px;
}

.button {
  width: 100px;
  height: 30px;
}

.title {
  margin: 50px;
}

.red {
  background: #ff6347;
}

.green {
  background: #98fb98;
}

.blue {
  background: #1e90ff;
}

.day {
  background: #fff;
  height: 50px;
}

.day:hover {
  background: #c0c0c0;
  color: #fff;
}

.dayarea {
  color: #000000;
  display: block;
}

.month {
  color: #0000cd;
}

.block {
  display: block;
  line-height: 1em;
  width: auto;
  margin: auto;
  padding: 15px;
}

.content {
  display: flex;
  width: 800px;
}

.content-right,
.content-left {
  width: 50%;
}

.wordbreake {
  word-break: break-all;
}

select {
  width: 100px;
}

.select-box {
  margin: 0 15px;
}

.select-box-right {
  margin-left: 100px;
}

.wrap {
  margin-top: 30px;
}

