body {
  height: auto;
}

.width {
  width: 70%;
  margin: 0 auto;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.block {
  display: block;
  line-height: 1em;
  width: auto;
  margin: auto;
  padding: 15px;
}

.block:hover {
  background: #6c757d;
}

.header-left {
  float: left;
  display: flex;
}

.header-right {
  float: right;
  list-style: none;
}

.black,
.header-right {
  text-align: center;
}

.header {
  background: #343a40;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

th,
td {
  text-align: center;
  padding: 20px;
}

.content {
  display: flex;
  width: 800px;
}

.content-right,
.content-left {
  width: 50%;
}

.buttom {
  width: 100px;
  height: 30px;
}

.plan {
  display: flex;
}

.container {
  display: flex;
  width: 800px;
}

.textarea {
  width: 300px;
  height: 100px;
}

.solid {
  border: 1px solid;
}

